<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IFindFile" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60012/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
                name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost:50012/ICallbackFile" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IFindFile" contract="ServiceReference2.IFindFile"
                name="WSDualHttpBinding_IFindFile">
                <identity>
                    <userPrincipalName value="MP-B50\Michal" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>